@import "../../variables.scss";

.table__heading{
    background: $colour-background-quartiary;
    color: $colour-font-secondary;
    font-size: 1.5em;
    font-weight: 600;
    padding: 1em;
    text-transform: uppercase;

    &--secondary {
        background: $colour-background-quartiary-shadow;
    }
}